In [48]:
import pandas as pd
import numpy as np
short_coem_numbers = pd.read_excel('embeddings_total.xlsx')
short_coem_metadata =  pd.read_excel('coem_authors_enriched.xlsx')
shorc_metadata = pd.read_excel('coem_cuentos_authors.xlsx')
Totals_df1 = pd.merge(short_coem_numbers, shorc_metadata, left_on="vector_id" ,right_on='uuid_story', how='left')
Totals_df1=Totals_df1[["vector_id","values","author_uuid","story_name","reading_time_min"]].copy()
Totals_df = pd.merge(Totals_df1, short_coem_metadata, left_on="author_uuid" ,right_on='UUID', how='left')
Totals_df=Totals_df[['vector_id', 'values', 'story_name', 'reading_time_min',
       'Author', 'LastName', 'Name', 'country', 'genera',
        'Wiki_URL', 'cats', 'linked_authors','Birth Year', 'Death Year']].copy()#'Summary'
Totals_df_labels = Totals_df.drop(Totals_df.columns[:2], axis=1)
Totals_df_labels = Totals_df_labels.replace('\t', '', regex=True)
Totals_df_labels = Totals_df_labels.replace('\n', '', regex=True)
Totals_df_labels = Totals_df_labels.replace('ñ', 'n', regex=True)


non_numeric_mapping_death = {
    '1863 y 1786': 1863,  # Assuming you want to take the first year
    'c.1400': 1400,
    '1976 (desaparecido)': 1976,
    'nan':np.nan
}

# Replace known non-numeric values using the mapping
Totals_df_labels['Death Year'].replace(non_numeric_mapping_death,inplace=True)

Totals_df_labels['Death Year'] = pd.to_numeric(Totals_df_labels['Death Year'], errors='coerce')
# Convert all values to numeric, setting errors='coerce' will convert non-numeric values to NaN
country_mapping = {
    'Estadounidense': "Estados Unidos",  # Assuming you want to take the first year
    'Inglesa': "Inglaterra",
    'Argentino': "Argentina",
    'nan':np.nan,
    "Cubano":"Cuba",
    "Puertorriqueno": "Puerto Rico",
    "Nueva Zelandia": "Nueva Zelanda"
}

# Replace known non-numeric values using the mapping
Totals_df_labels['country'].replace(country_mapping,inplace=True)

non_numeric_mapping_birth = {
    'Siglo VI AC': -600,   # 6th century BC
    'Siglo XII': 1200      # 12th century
}

# Replace known non-numeric values using the mapping
Totals_df_labels['Birth Year'].replace(non_numeric_mapping_birth,inplace=True)

Totals_df_labels['Birth Year'] = pd.to_numeric(Totals_df_labels['Birth Year'], errors='coerce')


#FillNAs
Totals_df_labels['Name'] = Totals_df_labels['Name'].fillna("Unknown")
Totals_df_labels['country'] = Totals_df_labels['country'].fillna("Unknown")
Totals_df_labels['genera'] = Totals_df_labels['genera'].fillna("Unknown")
Totals_df_labels['cats'] = Totals_df_labels['cats'].fillna("Unknown")
Totals_df_labels['linked_authors'] = Totals_df_labels['linked_authors'].fillna("Unknown")
Totals_df_labels['Wiki_URL'] = Totals_df_labels['Wiki_URL'].fillna("Unknown")
Totals_df_labels['Birth Year'] = Totals_df_labels['Birth Year'].fillna(0)
Totals_df_labels['Death Year'] = Totals_df_labels['Death Year'].fillna(0)


#rename columns
new_column_names = {
    'story_name': 'Story Name',
    'reading_time_min': 'Reading Time (min)',
    'Author': 'Author First Name',
    'LastName': 'Author Last Name',
    'Name': 'Full Name',
    'country': 'Country',
    'genera': 'Genre',
    'Wiki_URL': 'Wikipedia URL',
    'cats': 'Categories',
    'linked_authors': 'Linked Authors',
    'Birth Year': 'Year of Birth',
    'Death Year': 'Year of Death'
}

# Rename the columns
Totals_df_labels.rename(columns=new_column_names, inplace=True)

# 50 is the max categories possible

/var/folders/5p/_kb940b562jft731f2cs29340000gn/T/ipykernel_86354/1260170024.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Totals_df_labels['Death Year'].replace(non_numeric_mapping_death,inplace=True)
/var/folders/5p/_kb940b562jft731f2cs29340000gn/T/ipykernel_86354/1260170024.py:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Totals_df_labels['country'].replace(country_mapping,inplace=True)
/var/folders/5p/_kb940b562jft731f2cs29340000gn/T/ipykernel_86354/1260170024.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Totals_df_labels['Birth Year'].replace(non_numeric_mapping_birth,inplace=True)

In [53]:
Totals_df_labels["Country"].unique()

array(['Espana', 'Estados Unidos', 'Uruguay', 'Cuba', 'Grecia', 'Francia',
       'Argentina', 'Unknown', 'Italia', 'India', 'Mexico', 'Rusia',
       'Inglaterra', 'África', 'Brasil', 'Portugal', 'Arabia',
       'Guatemala', 'Dinamarca', 'Irlanda', 'Colombia', 'Peru',
       'Alemania', 'Checoslovaquia', 'Hungria', 'Venezuela', 'Belgica',
       'Chile', 'Líbano', 'Noruega', 'Puerto Rico', 'Reino Unido',
       'Suiza', 'Japon', 'Polonia', 'Republica Dominicana', 'Oriente',
       'Nicaragua', 'China', 'Nueva Zelanda', 'Escocia', 'Ecuador',
       'Suecia', 'Egipto', 'El Salvador', 'Paraguay', 'Prusia',
       'Costa Rica', 'Gales'], dtype=object)

In [51]:
Totals_df_labels["Genre"].unique()

array(['Romanticismo', 'Unknown', 'Histórico', 'Rural', 'Modernismo',
       'Dramaturgia', 'Pedagógico', 'Fantasía', 'Realismo', 'Periodismo',
       'Suspenso', 'modernismo', 'Comedia', 'Ficción', 'Historieta',
       'Paranoia', 'historias cortas', 'Ambiental', 'Surrealismo',
       'Chejov'], dtype=object)

In [52]:
Totals_df_labels["Story Name"].unique()

array(['Las vocales de colores', 'Cuánto se divertían',
       'Todo lo contrario', ..., 'La humildad premiada',
       'Las zorras, las águilas y las liebres',
       'El sombrero del rey de Tibotú'], dtype=object)